body {
    font-family: Arial, serif;
    margin: 20px;
    background: #f2f2f2;
}

form {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 300px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

button {
    padding: 8px 12px;
    background: #13af71;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

h2 {
    margin-top: 30px
}

ul {
    list-style: none;
    padding: 0
}

li {
    background: #fff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
}
